.animated, .login-content, .login-error, .users-count,
.banner-content, .stats-row .column, .user-changed, .loading-spinner, .highland-express .highland-controls .highland-button-loader {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.animated-short, .input-error, .changed, .search-dropdown {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s; }

.animated-long, .goco-logo, .users-list, .footer-content {
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

.animated.infinite, .infinite.login-content, .infinite.login-error, .infinite.users-count,
.infinite.banner-content, .stats-row .infinite.column, .stats-row .column.loading-spinner, .infinite.user-changed, .loading-spinner, .highland-express .highland-controls .highland-button-loader {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes fadeCycle {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeCycle {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.fadeCycle {
  -webkit-animation-name: fadeCycle;
  animation-name: fadeCycle;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible; }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
.slideInLeft, .login-content {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft; }

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible; }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight; }

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
.zoomIn, .login-error, .users-count,
.banner-content, .search-dropdown {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn; }

@-webkit-keyframes zoomOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  100% {
    opacity: 0; } }
@keyframes zoomOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  100% {
    opacity: 0; } }
.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible; }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
.slideInUp, .footer-content {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp; }

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible; }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
.slideInDown, .goco-logo, .users-list {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown; }

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); } }
@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); } }
.shake, .input-error {
  -webkit-animation-name: shake;
  animation-name: shake; }

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }
@keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }
.flash, .changed {
  -webkit-animation-name: flash;
  animation-name: flash; }

@-webkit-keyframes flashBackgroundOrange {
  0%, 50%, 100% {
    background-color: transparent; }
  25%, 75% {
    background-color: #F2A42C; } }
@keyframes flashBackgroundOrange {
  0%, 50%, 100% {
    background-color: transparent; }
  25%, 75% {
    background-color: #F2A42C; } }
.flashBackgroundOrange, .user-changed {
  -webkit-animation-name: flashBackgroundOrange;
  animation-name: flashBackgroundOrange; }

@-webkit-keyframes rotatePlane {
  0% {
    -webkit-transform: perspective(120px);
    transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
    transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
@keyframes rotatePlane {
  0% {
    -webkit-transform: perspective(120px);
    transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
    transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
.rotatePlane, .loading-spinner, .highland-express .highland-controls .highland-button-loader {
  -webkit-animation-name: rotatePlane;
  animation-name: rotatePlane;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  100% {
    -webkit-transform: perspective(400px); } }
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  100% {
    transform: perspective(400px); } }
.flipInX, .stats-row .column {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX; }

.users-count,
.banner-content {
  -webkit-animation-delay: 150ms;
  animation-delay: 150ms; }

.stats-row .column {
  -webkit-animation-delay: 150ms;
  animation-delay: 150ms; }

.vertical-align, .users-row .users-count, .stats-row > .container, .banner-row .banner-content, .highland-express .highland-header-bar .highland-title {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

a {
  text-decoration: none; }

a:hover {
  color: #F2A42C; }

body {
  background-color: #EEE;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 700; }

header,
footer {
  position: relative;
  z-index: 3; }

main {
  text-align: center; }
  main .banner-link:hover {
    display: block;
    opacity: 0.75; }
  main .color-row {
    height: 200px;
    position: relative;
    z-index: 2; }
    main .color-row h1, main .color-row h2, main .color-row h3, main .color-row h4, main .color-row h5, main .color-row h6 {
      color: #FFF; }

.toggle {
  position: relative;
  width: 65px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.toggle-switch {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden; }

.toggle-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 30px;
  padding: 0;
  line-height: 30px;
  border: 2px solid #CCCCCC;
  border-radius: 30px;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease-in; }

.toggle-label:before {
  content: "";
  display: block;
  width: 30px;
  margin: 0px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 31px;
  border: 2px solid #CCCCCC;
  border-radius: 30px;
  transition: all 0.3s ease-in 0s; }

.toggle-switch:checked + .toggle-label {
  background-color: #49E845; }

.toggle-switch:checked + .toggle-label,
.toggle-switch:checked + .toggle-label:before {
  border-color: #49E845; }

.toggle-switch:checked + .toggle-label:before {
  right: 0px; }

.loading-spinner, .highland-express .highland-controls .highland-button-loader {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF; }

header {
  height: 200px;
  background-color: #014983;
  text-align: center; }
  header .goco-logo {
    height: 155px;
    margin: 2rem; }
  header .notifications-toggle {
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-right: 10px;
    float: right;
    background-repeat: no-repeat;
    transition: margin-right 0.5s; }
    header .notifications-toggle.notifications-on {
      margin-right: 15px;
      background-image: url("/img/dashboard/volume-on.svg"); }
    header .notifications-toggle.notifications-off {
      background-image: url("/img/dashboard/volume-off.svg"); }

.loading-row {
  background-color: #F2A42C;
  height: 70vh; }
  .loading-row .loading-content {
    padding-top: 4rem; }

.login-row {
  background-color: #F2A42C;
  height: 70vh; }
  .login-row .login-content {
    padding-top: 4rem; }
  .login-row .login-error {
    color: #A52D28; }
  .login-row .password-field {
    height: 3rem;
    border-color: #FFF;
    border-radius: 0; }
  .login-row .submit-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: #FFF;
    border-color: #FFF; }

.users-row {
  background-color: #F2A42C; }
  .users-row .users-count {
    cursor: pointer; }

.stats-row {
  height: 300px;
  background-color: #9650BF;
  padding-top: 15px; }
  .stats-row h3,
  .stats-row h5 {
    margin-bottom: 0; }
  .stats-row h1 {
    margin-bottom: -30px; }
  .stats-row .column:not(:last-child) > h2 {
    margin-bottom: 4rem; }

@media (min-width: 580px) {
  .stats-row {
    height: 300px; }
    .stats-row h4 {
      margin-bottom: 1rem; }
    .stats-row .column:not(:last-child) > h2 {
      margin-bottom: 0; } }
.banner-row {
  background-color: #58F5A7; }
  .banner-row .banner-content .banner-body {
    color: #FFF; }

.search-row {
  min-height: 200px;
  height: auto;
  background-color: #58F5A7;
  padding-top: 4rem;
  padding-bottom: 1rem; }
  .search-row .search-box {
    width: 300px;
    border-radius: 0;
    position: relative;
    z-index: 3; }
  .search-row .search-dropdown {
    max-height: 250px;
    width: 310px;
    position: relative;
    z-index: 2;
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: #FFF;
    border: 1px solid #838C8D;
    list-style: none;
    text-align: left; }

.users-lists {
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  z-index: 1; }
  .users-lists ul {
    list-style: none; }
  .users-lists .user-link {
    padding: 0.5rem; }
  .users-lists.row {
    margin-bottom: 0; }

.logs-row, .color-row.logs-row {
  min-height: 200px;
  height: auto;
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: #F2726D; }
  .logs-row .logs-list, .color-row.logs-row .logs-list {
    height: 150px;
    margin: 0;
    padding-left: 75px;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #FFF;
    list-style: none;
    text-align: left; }
  .logs-row .logs-list::-webkit-scrollbar, .color-row.logs-row .logs-list::-webkit-scrollbar {
    background-color: transparent; }
  .logs-row .logs-list::-webkit-scrollbar-thumb, .color-row.logs-row .logs-list::-webkit-scrollbar-thumb {
    background-color: #FFBB00; }

footer {
  height: 75px;
  padding-top: 3rem;
  text-align: center;
  background-color: #014983; }
  footer .footer-link {
    color: #FFF; }
  footer .footer-link:hover {
    color: #F2A42C; }

.highland-express .highland-header-bar {
  height: 14rem;
  background-color: #24A552;
  text-align: center; }
  .highland-express .highland-header-bar .highland-title {
    margin-bottom: 0;
    color: #FFF; }
.highland-express .highland-controls {
  margin-top: 2rem; }
  .highland-express .highland-controls .highland-control-button {
    border-color: #24A552; }
  @media (max-width: 500px) {
    .highland-express .highland-controls .highland-control-button {
      display: block;
      margin-left: auto;
      margin-right: auto; } }
  .highland-express .highland-controls .highland-control-button:hover {
    border-color: #838C8D; }
  .highland-express .highland-controls .highland-button-loader {
    vertical-align: text-bottom;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 1rem;
    background-color: #838C8D; }
.highland-express .highland-schedule {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }
  .highland-express .highland-schedule .header-cell,
  .highland-express .highland-schedule .header-input,
  .highland-express .highland-schedule .cell,
  .highland-express .highland-schedule .cell-input {
    text-align: center; }
  .highland-express .highland-schedule .header-cell {
    max-width: 15rem; }
    .highland-express .highland-schedule .header-cell .header-input {
      height: 100%;
      max-width: 12.5rem;
      vertical-align: middle;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border: 1px solid #D1D1D1;
      padding: 6px 10px;
      /* The 6px vertically centers text on FF, ignored by Webkit */
      border-radius: 4px;
      box-shadow: none;
      background: #FFF; }
  .highland-express .highland-schedule .cell .cell-input {
    max-width: 8rem; }
  @media (max-width: 500px) {
    .highland-express .highland-schedule .cell {
      padding-left: 5px;
      padding-right: 0;
      padding-top: 10px;
      padding-bottom: 0; }
      .highland-express .highland-schedule .cell .cell-input {
        width: 7rem; } }
