.vertical-align, main .color-row.users-row .users-count, main .color-row.stats-row > .container, main .color-row.banner-row .banner-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

a {
  text-decoration: none; }

a:hover {
  color: #F2A42C; }

body {
  background-color: #ddd;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 700; }

header,
footer {
  position: relative;
  z-index: 3; }

header {
  height: 200px;
  background-color: #014983;
  text-align: center; }
  header .goco-logo {
    height: 155px;
    margin: 2rem; }

main {
  text-align: center; }
  main .banner-link:hover {
    display: block;
    opacity: 0.75; }
  main .color-row {
    height: 200px;
    position: relative;
    z-index: 2; }
    main .color-row h1, main .color-row h2, main .color-row h3, main .color-row h4, main .color-row h5, main .color-row h6 {
      color: #eee; }
    main .color-row.login-row {
      background-color: #F2A42C;
      height: 70vh; }
      main .color-row.login-row .login-content {
        padding-top: 4rem; }
      main .color-row.login-row .login-error {
        color: red; }
      main .color-row.login-row .password-field {
        height: 3rem;
        border-color: #eee;
        border-radius: 0; }
      main .color-row.login-row .submit-button {
        margin-left: auto;
        margin-right: auto;
        display: block;
        color: #eee;
        border-color: #eee; }
    main .color-row.loading-row {
      background-color: #F2A42C;
      height: 70vh; }
      main .color-row.loading-row .loading-content {
        padding-top: 4rem; }
      main .color-row.loading-row .loading-spinner {
        width: 50px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        background-color: #eee; }
    main .color-row.users-row {
      background-color: #F2A42C; }
      main .color-row.users-row .users-count {
        cursor: pointer; }
    main .color-row.stats-row {
      height: 350px;
      background-color: #9650BF;
      padding-top: 15px; }
      main .color-row.stats-row h4 {
        margin-bottom: 0; }
      main .color-row.stats-row .column:not(:last-child) > h2 {
        margin-bottom: 4rem; }
    @media (min-width: 580px) {
      main .color-row.stats-row {
        height: 200px; }
        main .color-row.stats-row h4 {
          margin-bottom: 1rem; }
        main .color-row.stats-row .column:not(:last-child) > h2 {
          margin-bottom: 0; } }
    main .color-row.banner-row {
      background-color: #33cd5f; }
      main .color-row.banner-row .banner-content .banner-body {
        color: #eee; }
    main .color-row.search-row {
      min-height: 200px;
      height: auto;
      background-color: #33cd5f;
      padding-top: 4rem;
      padding-bottom: 1rem; }
      main .color-row.search-row .search-box {
        width: 300px;
        border-radius: 0;
        position: relative;
        z-index: 3; }
      main .color-row.search-row .search-dropdown {
        max-height: 250px;
        width: 310px;
        position: relative;
        z-index: 2;
        margin-top: -15px;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        background-color: #fff;
        border: 1px solid #D1D1D1;
        list-style: none;
        text-align: left; }
  main .users-lists {
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 1; }
    main .users-lists ul {
      list-style: none; }
    main .users-lists .user-link {
      padding: 0.5rem; }
    main .users-lists.row {
      margin-bottom: 0; }

footer {
  height: 75px;
  padding-top: 1rem;
  text-align: center;
  background-color: #014983; }
  footer .database-link {
    color: #eee; }
  footer .database-link:hover {
    color: #F2A42C; }
  footer .notifications-toggle {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat; }
    footer .notifications-toggle.notifications-on {
      background-image: url("/img/dashboard/volume-on.svg"); }
    footer .notifications-toggle.notifications-off {
      background-image: url("/img/dashboard/volume-off.svg"); }

.animated, .login-content, .login-error, .users-count,
.banner-content, .stats-row .column, .user-changed, .loading-spinner {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.animated-short, .input-error, .changed, .search-dropdown {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s; }

.animated-long, .goco-logo, .users-list, .footer-content {
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

.animated.infinite, .infinite.login-content, .infinite.login-error, .infinite.users-count,
.infinite.banner-content, .stats-row .infinite.column, .stats-row .column.loading-spinner, .infinite.user-changed, .loading-spinner {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes fadeCycle {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeCycle {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.fadeCycle {
  -webkit-animation-name: fadeCycle;
  animation-name: fadeCycle;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible; }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
.slideInLeft, .login-content {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft; }

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible; }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight; }

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
.zoomIn, .login-error, .users-count,
.banner-content, .search-dropdown {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn; }

@-webkit-keyframes zoomOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  100% {
    opacity: 0; } }
@keyframes zoomOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  100% {
    opacity: 0; } }
.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible; }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
.slideInUp, .footer-content {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp; }

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible; }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
.slideInDown, .goco-logo, .users-list {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown; }

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); } }
@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); } }
.shake, .input-error {
  -webkit-animation-name: shake;
  animation-name: shake; }

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }
@keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }
.flash, .changed {
  -webkit-animation-name: flash;
  animation-name: flash; }

@-webkit-keyframes flashBackgroundOrange {
  0%, 50%, 100% {
    background-color: transparent; }
  25%, 75% {
    background-color: #F2A42C; } }
@keyframes flashBackgroundOrange {
  0%, 50%, 100% {
    background-color: transparent; }
  25%, 75% {
    background-color: #F2A42C; } }
.flashBackgroundOrange, .user-changed {
  -webkit-animation-name: flashBackgroundOrange;
  animation-name: flashBackgroundOrange; }

@-webkit-keyframes rotatePlane {
  0% {
    -webkit-transform: perspective(120px);
    transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
    transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
@keyframes rotatePlane {
  0% {
    -webkit-transform: perspective(120px);
    transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
    transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
.rotatePlane, .loading-spinner {
  -webkit-animation-name: rotatePlane;
  animation-name: rotatePlane;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  100% {
    -webkit-transform: perspective(400px); } }
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  100% {
    transform: perspective(400px); } }
.flipInX, .stats-row .column {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX; }

.users-count,
.banner-content {
  -webkit-animation-delay: 150ms;
  animation-delay: 150ms; }

.stats-row .column {
  -webkit-animation-delay: 150ms;
  animation-delay: 150ms; }
