.goco-logo {
  @extend .animated-long;
  @extend .slideInDown;
}
.login-content {
  @extend .animated;
  @extend .slideInLeft;
}
.login-error {
  @extend .animated;
  @extend .zoomIn;
}
.input-error {
  @extend .animated-short;
  @extend .shake;
}
.users-count,
.banner-content {
  @extend .animated;
  @extend .zoomIn;
  -webkit-animation-delay: $animation-delay;
          animation-delay: $animation-delay;
}
.stats-row .column {
  @extend .animated;
  @extend .flipInX;
  -webkit-animation-delay: $animation-delay;
          animation-delay: $animation-delay;
}
.users-list {
  @extend .animated-long;
  @extend .slideInDown;
}
.footer-content {
  @extend .animated-long;
  @extend .slideInUp;
}
.changed {
  @extend .animated-short;
  @extend .flash;
}
.user-changed {
  @extend .animated;
  @extend .flashBackgroundOrange;
}
.loading-spinner {
  @extend .animated;
  @extend .infinite;
  @extend .rotatePlane;
}
.search-dropdown {
  @extend .animated-short;
  @extend .zoomIn;
}
