$toggle-width: 65px;
$toggle-height: 30px;

.toggle {
  position: relative;
  width: $toggle-width;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
}
.toggle-switch {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.toggle-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: $toggle-height;
  padding: 0;
  line-height: $toggle-height;
  border: 2px solid #CCCCCC;
  border-radius: $toggle-height;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease-in;
}
.toggle-label:before {
  content: "";
  display: block;
  width: $toggle-height;
  margin: 0px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: $toggle-height + 1;
  border: 2px solid #CCCCCC;
  border-radius: $toggle-height;
  transition: all 0.3s ease-in 0s;
}
.toggle-switch:checked + .toggle-label {
  background-color: #49E845;
}
.toggle-switch:checked + .toggle-label,
.toggle-switch:checked + .toggle-label:before {
  border-color: #49E845;
}
.toggle-switch:checked + .toggle-label:before {
  right: 0px;
}
