footer {
  height: $footer-height;
  padding-top: 3rem;
  text-align: center;
  background-color: color(blue);
  .footer-link {
    color: color(white);
  }
  .footer-link:hover {
    color: color(orange);
  }
}
