.login-row {
  background-color: color(orange);
  height: $login-row-height;
  .login-content {
    padding-top: 4rem;
  }
  .login-error {
    color: color(dark-red);
  }
  .password-field {
    height: 3rem;
    border-color: color(white);
    border-radius: 0;
  }
  .submit-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: color(white);
    border-color: color(white);
  }
}
