.search-row {
  min-height: $color-row-height;
  height: auto;
  background-color: color(mint-green);
  padding-top: 4rem;
  padding-bottom: 1rem;
  .search-box {
    width: 300px;
    border-radius: 0;
    position: relative;
    z-index: $top-layer;
  }
  .search-dropdown {
    max-height: 250px;
    width: 310px;
    position: relative;
    z-index: $color-row-layer;
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: color(white);
    border: 1px solid color(muted-gray);
    list-style: none;
    text-align: left;
  }
}
