$gordon-blue: #014983;
$meal-points-orange: #F2A42C;
$banner-green: #33cd5f;
$title-color: #eee;
$page-color: #ddd;

$color-row-height: 200px;

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
a {
  text-decoration: none;
}
a:hover {
  color: $meal-points-orange;
}

body {
  background-color: $page-color;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 700;
}
header {
  height: $color-row-height;
  background-color: $gordon-blue;
  text-align: center;
  .goco-logo {
    height: 155px;
    margin: 2rem;
  }
}
main {
  text-align: center;
  .banner-link:hover {
    display: block;
    opacity: 0.75;
  }
  .color-row {
    height: $color-row-height;
    h1 {
      color: $title-color;
    }
    &.login-row {
      background-color: $meal-points-orange;
      height: 425px;
      .login-content {
        @extend .vertical-align;
      }
      .password-field {
        height: 3rem;
        border-color: $title-color;
        border-radius: 0;
      }
      .submit-button {
        margin-left: auto;
        margin-right: auto;
        display: block;
        color: $title-color;
        border-color: $title-color;
      }
    }
    &.users-row {
      background-color: $meal-points-orange;
      .users-count {
        @extend .vertical-align;
      }
    }
    &.banner-row {
      background-color: $banner-green;
      .banner-content {
        @extend .vertical-align;
        .banner-body {
          color: $title-color;
        }
      }
    }
  }
  .users-lists {
    padding-top: 2rem;
    padding-bottom: 2rem;
    ul {
      list-style: none;
    }
    &.container {
      /* width: 100%; */
      /* max-width: ; */
    }
    &.row {
      margin-bottom: 0;
    }
  }
}
footer {
  height: 50px;
  padding-top: 1rem;
  text-align: center;
  background-color: $gordon-blue;
  .database-link {
    color: $title-color;
  }
  .database-link:hover {
    color: $meal-points-orange;
  }
}
