<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dashboard | GoCo Student</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/img/favicon-152.png">
  <link rel="icon" href="/img/favicon-32.png" sizes="32x32">
  <link rel="icon" href="/img/favicon-192.png" sizes="192x192">
  <meta name="theme-color" content="#014983">
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Microsoft Tile data -->
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="/img/favicon-144.png">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@adamvig">
  <meta name="twitter:title" content="Dashboard | GoCo Student">
  <meta name="twitter:description" content="A dashboard for GoCo Student, the must-have app for Gordon College students.">
  <meta name="twitter:creator" content="@adamvig">
  <meta name="twitter:image" content=" http://gocostudent.adamvig.com/img/favicon-500.png">

  <!-- Open Graph data -->
  <meta property="og:title" content="Dashboard | GoCo Student">
  <meta property="og:type" content="article">
  <meta property="og:url" content=" http://gocostudent.adamvig.com">
  <meta property="og:image" content=" http://gocostudent.adamvig.com/img/favicon-250.png">
  <meta property="og:description" content="A dashboard for GoCo Student, the must-have app for Gordon College students.">
  <meta property="og:site_name" content="GoCo Student">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/app.css">
</head>
<body ng-app="gocostudent-dashboard" ng-controller="DashboardController as dashboard">
  <header ng-class="{'changed': dashboard.changed}">
    <img class="goco-logo" src="/img/logo.svg" alt="GoCo Student">
  </header>
  <main>
    <div class="login-row color-row"
      ng-show="!dashboard.auth.authenticated">
      <div class="login-content">
        <h1>Login</h1>
        <h2 class="login-error"
          ng-if="dashboard.auth.wrong">
          Wrong password!
        </h2>
        <form>
          <input type="password"
            autofocus
            class="password-field"
            ng-class="{'input-error': dashboard.auth.failure === true}"
            ng-model="dashboard.auth.userAttempt">
          <button type="submit"
            class="submit-button"
            ng-click="dashboard.login()">
            Go
          </button>
        </form>
      </div>
    </div>
    <div class="loading-row color-row"
      ng-show="dashboard.loading && dashboard.auth.authenticated">
      <div class="loading-content">
        <h1>Loading</h1>
        <div class="loading-spinner"></div>
      </div>
    </div>
    <div ng-if="dashboard.auth.authenticated && !dashboard.loading">
      <div class="users-row color-row">
        <h1 class="users-count">
          <span ng-bind="dashboard.users.total"></span> Users
        </h1>
      </div>
      <a href="{{dashboard.db.url}}/dashboard.html#database/gocostudent/message"
        class="banner-link">
        <div class="banner-row color-row"
          ng-if="dashboard.banner">
          <div class="banner-content">
            <h1 class="banner-title"
              ng-bind="dashboard.banner.title"></h1>
            <p class="banner-body"
              ng-bind-html="dashboard.banner.body"></p>
          </div>
        </div>
      </a>
      <div class="users-lists row container">
        <div class="users-list one-third column">
          <h2>Recent</h2>
          <ul>
            <li ng-repeat="user in dashboard.users.filtered.recent | limitTo:dashboard.usersToDisplay">
              <a href="{{dashboard.db.url}}/dashboard.html#database/gocostudent/{{user.name.id}}"
                class="user-link"
                ng-class="{'user-changed': user.changed}">
                {{user.name.full}}
              </a>
            </li>
          </ul>
        </div>
        <div class="users-list one-third column">
          <h2>New</h2>
          <ul>
            <li ng-repeat="user in dashboard.users.filtered.new | limitTo:dashboard.usersToDisplay">
              <a href="{{dashboard.db.url}}/dashboard.html#database/gocostudent/{{user.name.id}}"
                class="user-link"
                ng-class="{'user-changed': user.changed}">
                {{user.name.full}}
              </a>
            </li>
          </ul>
        </div>
        <div class="users-list one-third column">
          <h2>Frequent</h2>
          <ul>
            <li ng-repeat="user in dashboard.users.filtered.frequent | limitTo:dashboard.usersToDisplay">
              <a href="{{dashboard.db.url}}/dashboard.html#database/gocostudent/{{user.name.id}}"
                class="user-link"
                ng-class="{'user-changed': user.changed}">
                {{user.name.full}}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="search-row color-row">
        <h1>Search</h1>
        <input type="search"
          class="search-box"
          placeholder="Enter a name"
          ng-model="dashboard.searchQuery"
          ng-blur="dashboard.hideSearchResults = true"
          ng-focus="dashboard.hideSearchResults = false">
        <ul class="search-dropdown"
          ng-if="dashboard.searchQuery && !dashboard.hideSearchResults">
          <li ng-repeat="userName in dashboard.users.names | filter:dashboard.searchQuery | limitTo:5">
            {{userName}}
          </li>
        </ul>

      </div>
    </div>
  </main>
  <footer>
    <a class="database-link" href="{{dashboard.db.url}}/dashboard.html">Database Dashboard</a>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/DatabaseFactory.js"></script>
  <script src="/js/DataService.js"></script>
  <script src="/js/LoginService.js"></script>
  <script src="/js/RefreshService.js"></script>
  <script src="/js/DashboardController.js"></script>
</body>
</html>
