<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Highland Express | GoCo Student</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/img/favicon-152.png">
  <link rel="icon" href="/img/favicon-32.png" sizes="32x32">
  <link rel="icon" href="/img/favicon-192.png" sizes="192x192">
  <meta name="theme-color" content="#014983">
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Microsoft Tile data -->
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="/img/favicon-144.png">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@adamvig">
  <meta name="twitter:title" content="Highland Express | GoCo Student">
  <meta name="twitter:description" content="A dashboard for the Highland Express extension of GoCo Student, the must-have app for Gordon College students.">
  <meta name="twitter:creator" content="@adamvig">
  <meta name="twitter:image" content=" http://gocostudent.adamvig.com/img/favicon-500.png">

  <!-- Open Graph data -->
  <meta property="og:title" content="Highland Express | GoCo Student">
  <meta property="og:type" content="article">
  <meta property="og:url" content=" http://gocostudent.adamvig.com">
  <meta property="og:image" content=" http://gocostudent.adamvig.com/img/favicon-250.png">
  <meta property="og:description" content="A dashboard for the Highland Express extension of GoCo Student, the must-have app for Gordon College students.">
  <meta property="og:site_name" content="GoCo Student">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/app.css">
</head>
<body class="highland-express" ng-app="gocostudent-dashboard" ng-controller="HighlandController as highland">
  <header>
    <img class="goco-logo" src="/img/logo.svg" alt="GoCo Student">
  </header>
  <div class="highland-header-bar">
    <h1 class="highland-title">Highland Express</h1>
  </div>
  <main>
    <ng-include src="'html/_login-row.html'"></ng-include>
    <ng-include src="'html/_loading-row.html'"></ng-include>
    <div ng-if="highland.auth.authenticated && !highland.loading">
      <h1 ng-if="!highland.data" ng-value="highland.noDataErrorMessage"></h1>
      <div ng-show="highland.data">
        <ng-include src="'html/_announcement.html'"></ng-include>
        <ng-include src="'html/_schedule.html'"></ng-include>
      </div>
    </div>
  </main>
  <footer>
    <div class="footer-content">
      Email <a href="mailto:AdamVigneaux@gmail.com">AdamVigneaux@gmail.com</a> for help.
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/BackendService.js"></script>
  <script src="/js/DatabaseFactory.js"></script>
  <script src="/js/HighlandFactory.js"></script>
  <script src="/js/LoginService.js"></script>
  <script src="/js/HighlandController.js"></script>
</body>
</html>
